
.text{
    font-weight: $font-weight-regular;
    font-size: $font-regular;
    font-family: $font-family;    
}


.text_size_l{
    font-size: $font-large;
}

.text_size_s{
    font-size: $font-small;
}

.text_bold{
    font-weight: $font-weight-bold;
}